body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main-info {
  background-image: url(./../images/bg-beach.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: #926239;
  font-size: 18px;
  
}
.header-p-for-overflow {
  margin: auto;
  width: 800px;
  overflow:hidden;
  text-overflow: ellipsis;
white-space: nowrap;
}
h1 {
  font-size: 50px;
}
h1 , a {
  text-transform: capitalize;
}
.info {
padding-top: 24%;
padding-bottom: 20px;
}
#button:hover {
  background-color: #926239;
color: white;
border-color: white;
}
#button {
  border: 2px solid #926239;
  border-radius: 10px;
  padding: 10px 20px;
text-decoration: none;
color: #926239;
}


.bot-info1 {
background-color: #926239;
color: white;
font-size: 17px;
padding: 20px;
margin-top: 0;

}
.bot-info2 {
  background-color: white;
  color: #926239;
  font-size: 17px;
  padding: 20px;
  margin-top: 0;
  }

  .bottom-info1 , .bottom-info2 , .bottom-info3 {
    text-align: center;
    display: inline-block;
    width: 33.33%;
    box-sizing: content-box;
    font-size: 18px;
padding: 20px 0;

  }
  .bottom-info1 , .bottom-info3 {
    background-color: #926239;
    color: white;
  }
